html{
	font-size: 18px;
	font-family: Helvetica;
	
}

body{
	width: 960px;
	height: auto;
	margin: 0;
}

header{
	background: black;
	width: 100%;
	height: auto;
}

.headInfo{
	display: flex;
	align-items: center;
	padding-top: 0.66rem;
	padding-bottom: 0.66rem;
	text-align: left;
	margin-left: 3rem;
}

h1{
	font-size: 1rem;
	color: white;
	margin-left: 1rem;
}


.headInfo img{
	width: auto;
	height: 1.5rem;
	margin-left: 0.5rem;
}

.landing{
	background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
}

.landing .container{
	width: 100%;
	height: 25rem;;
}

.banner{
	width: 24rem;
	height: 35%;
	background: black;
	margin-top: 9rem;
	margin-left: 3rem;
	color: white;
}

.banner p{
	padding-top: 2rem;
	padding-left: 3rem;
	font-size: 1rem;
	font-weight: bold;
	
}

.banner h2{
	padding-top: 0.25rem;
	padding-left: 3rem;
	font-size: 2rem;
	font-weight: bold;
}

.nav{
	background: firebrick;
	width: 100%;
	height: auto;
}
.navInfo{
	display: flex;
	justify-content: space-around;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	color: white;
}

.items{
	width: 100%;
	height: auto;
	margin-top: 3rem;
	
}

.itemsContainer{
	border: 4px solid black;
	width: 30%;
	height: auto;
}

.pen{

}